# Streamlit Web App
streamlit

# Data Science Stack
pandas
numpy
scikit-learn
matplotlib
seaborn
joblib
plotly

# PDF Export (Streamlit Cloud friendly)
pdfkit
jinja2

# HTML Template to PDF engine
wkhtmltopdf

# Image and file handling
Pillow
